[MAIN]

# Specify a score threshold under which the program will exit with error.
fail-under=8

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=pygame

[BASIC]

# Regular expression which should only match function or class names that do not require a docstring.
no-docstring-rgx=^.*

[DESIGN]

# List of regular expressions of class ancestor names to ignore when counting
# public methods (see R0903)
exclude-too-few-public-methods=^.*

# Minimum number of public methods for a class (see R0903).
min-public-methods=2


[EXCEPTIONS]

# Exceptions that will emit a warning when caught.
overgeneral-exceptions=builtins.BaseException,builtins.Exception


[FORMAT]

# Maximum number of characters on a single line. Pylint's default of 100 is
# based on PEP 8's guidance that teams may choose line lengths up to 99
# characters.
max-line-length=180

# Maximum number of lines in a module.
max-module-lines=1000


[MESSAGES CONTROL]

disable=missing-module-docstring, too-few-public-methods


[MISCELLANEOUS]

# Whether or not to search for fixme's in docstrings.
check-fixme-in-docstring=no

# List of note tags to take in consideration, separated by a comma.
notes=FIXME, XXX, TODO
